.Timetask-body{
    position: relative;
    top: -2780px;
    right: 10px;
    
}
.Time-task{
    position: relative;
    width: 920px;
    height: auto;
    gap: 0;
    left: 50px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(32,50px);
    
}
.Time-line-container{
    position: relative;
    visibility: visible;
}

.Time-line{
    position: absolute;
    width:40px;
    height: 80px;   
    border: 2px solid black;
    border-radius: 4px;
    background-color:#4ade80;
    visibility: visible;
    
}
    .Time-line.selected{
    visibility: visible;
    z-index:2;
    animation: slide-in-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .Time-line.close{
        visibility: hidden;
        transition : 1.5s;
        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(0px);
                  transform: scaleY(0);
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: scaleY(1);
                  transform-origin: top;
          opacity: 1;
        }
    }

    @keyframes slide-out-top {
        0% {
          -webkit-transform: translateY(0px);
                  transform: scaleY(1);
                  transform-origin: top;
          opacity: 1;
        }
        100% {
          -webkit-transform: translateY(-100px);
                  transform: scaleY(0);
                  transform-origin: top;
          opacity: 0;
        }
    }